.wrap {
  display: flex;
  flex-direction: column;
  .value {
    width: 184px;
    height: 48px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;

    @media (max-width: 550px) {
      max-width: 145px;
      width: 100%;
      font-size: 24px;
    }
  }
  .description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 185px;
    color: #ffffff;
    @media (max-width: 550px) {
      max-width: 145px;
      width: 100%;
      font-size: 14px;
    }
  }
}
